.weather {
    width: 600px;
    height: 250px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
    color: #fff;
    background-color: #333;
    margin: 20px auto;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.city {
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}

.weather-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin: 0;
}

.weather-icon {
    width: 100px;
}

.temprature {
    font-weight: 600;
    font-size: 70px;
    width: auto;
    letter-spacing: -5px;
    margin: 10px 0;
}

.details {
    font-size: 24px;
    width: 40%;
    padding-left: 20px;
}

.parameter-row {
    display: flex;
    justify-content: space-between;
}

.parameter-label {
    text-align: left;
    font-weight: 400;
    font-size: 12px;
}

.parameter-value {
    text-align: right;
    font-weight: 600;
    font-size: 12px;
}

.parameter-label-top {
    font-weight: 600;
}


/* For Tablets Screens */
@media only screen and (max-width: 850px) {

    .weather {
        width: calc(100% - 20%);
        height: calc(100% - 10%);
    }

    .temprature {
        font-size: 60px;
        letter-spacing: -1px;
    }

    .details {
        font-size: 18px;
    }

}


/* For Mobiles Screens */
@media only screen and (max-width: 430px) {

    .details {
        font-size: 14px;
    }

    .parameter-label,
    .parameter-value {
        font-size: 10px;
    }

    .temprature {
        font-size: 50px;
        letter-spacing: -1px;
    }

}