.container {
  max-width: 1080px;
  margin: 20px auto;
}

.main-frame {
  margin: 3% 10%;
  padding: 4px;
  overflow: auto;
  width: 80%;
  height: 90vh;
  background: rgba(26, 132, 220, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@media only screen and (max-width:850px) {
  .main-frame {
    width: 90%;
    margin: 3% 5%;
  }
}

@media only screen and (max-width:430px) {
  .main-frame {
    width: 95%;
    margin: 4% 2% 0% 2%;
  }
}